/* Selector {
    Property: value;
} */
* {
    text-align: right; /*all other elements have priority to their slectors and classes*/
}/*aligns text to the right*/

body {
    background-image: url("https://www.zingerbugimages.com/backgrounds/light_pink_marble_seamless.jpg");
    background-size: cover; /*the background image covers the website*/
}
h2, p {
    color: #AA4139; /*sets h2 and p element to this color from paletton.com*/
    text-align: center; /*aligns text to the center*/
    border: 5px solid rgba(255, 176, 170, 0.5); /*last one is opacity*/
    cursor: pointer; 
}

p {
    color: pink;
}

p {
    color: green; /*this selector is given more priority than the pink */
    text-align: center;
}

li {
    list-style: none; /*unbullits the list*/
    display:inline-block; /*sets display to be on the same line instead of block which goes on necxt line*/
/*this allows the list of home, about, and login to be inline and next to eachother*/
}

.webtext {
    border: 5px dashed green; /*size | type of line | color*/
}

.active {
    color: red;
}

#div1 {
    background: rgba(0, 0, 255, 0.2); /*sets blue of 255 with an opacity of 0.2*/
}

#div2 {
    background: rgba(255, 0, 0, 0.2); /*sets red of 255 with opacity of 0.2*/
}

#div3 p {
    line-height: 20px;
    font-style: italic;
    font-weight: bold;
    font-size: 80%;
    /* font-family: 'Times New Roman', Times, serif;  */
    font-family: 'Poiret One', cursive; /*using google fonts Poiret one font*/

}